@import "wp.css";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }



/* =============================================================================
   My content
   ========================================================================== */


/*Reset container */

.container {
    margin: 0;
    padding: 0;
}


/*
Default link behaviour. 
*/

a, .entry-title {
    text-decoration: none;
    color: #d62200;
}

a:hover {
    background-color: #f5c400;
}


/*Page header. */


header .container {
    float: left;
    width: 100%;
    background-color: #000;
    height: 64px;
}

header #sub_header {
    width: 40%;
    margin-right: 10%;
    float: right;
    color: #fff;
    text-align: right;
}

header  #site_header a {
    float: left;
    margin-left: 10%;
    text-decoration: none;
    font-size: 1.7em;
    font-family: Georgia, serif;
    color: #fff;
}

header  h1#site_header a:hover {
    color: #f5c400;
    background-color: #000;
}


/*Site navigation just below the header box. 
Containes the navigation bar and the search box. */


nav .container  {
    width: 100%;
    float: left;
    height: 33px;
    margin: 0;
    padding: 0;
    background-color: #000;
}


/*Wrapper container which holds other elements*/


nav .menu {
    clear: left;
    width: 40%;
    margin-left: 10%;
    background-color: #d62200;
}


nav .menu ul {
    list-style: none;
    margin: 0px;
    padding: 5px;
}

nav .menu ul li {
    display: inline;
    padding: 5px;
    border: 1px;
    margin: 7px;
}

nav .menu ul li:hover {
	background-color: #f5c400;
}

nav .menu ul a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 3px;
}

nav .menu ul a:hover {
    color: #000;
}

nav .current_page_item {
    background-color: #F5C400;
}

nav .current_page_parent {
    background-color: #F5C400;
}

/*Search */


nav .search {
	clear: left;
	width: 12%;
    margin-left: 10%;
    margin-top: 5px;
}

nav .search #s  {
    float: left;
}

nav .search #searchsubmit {
    float: right;
    background-color: #ddf;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

nav .search #searchsubmit:hover {
    color: #d62200;
}

nav .search .screen-reader-text {
    display: none;
}


/*Container for the content section. Content section will hold article elements which will feature blog posts. */


#content  {
	float: left;
    font-size: 0.8em;
}



#content .container  {
    width: 40%;
	margin-left: 10%;
}

#content .container .entry-title  {
    border-bottom: 1px inset;
    border-color: #000;
}

#content .container .entry-title a {
	color: #d62200;
}

#content .container .entry-title a:hover {
    color: #000;
}

article {
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
}

article .entry-content textarea {
    width: 90%;
}

span.entry-date {
    font-style: italic;
}


/*Sits to the right of the content area. Holds the sidebar. */


aside  {
	float: right;
    width: 30%;
	margin-left: 0;
	margin-right: 10%;
    color: #000;
}

.sidebar ul {
    list-style: none;
    font-size: 0.9em;
    padding: 0;
	margin: 0;
}


.sidebar ul li a {
    text-decoration: none;
    color: #000;
}

.sidebar .widget-title {
    border-bottom: 1px solid;
    background-color: #d62200;
    color: #fff;
}

.sidebar .textwidget .twitter-follow-button {
    font-weight: bold;
}

.sidebar ul li a img {
    border: none;
}

.sidebar ul li a:hover {
    color: #d62200;
}

.sidebar #left {
    width: 40%;
    height: 100%;
    float: left;
	margin-left: 5%;
    padding: 0;
}

.sidebar #right {
    width: 40%;
    height: 100%;
    float: right;
    padding: 0;
    margin-right: 0%;
}


/*Footer*/


footer {
	float: left;
	width: 100%;
    margin: 0px;
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
}

footer .container {
    margin: 0;
	padding: 0;
}


footer  #leftcol {
    width: 30%;
    float: left;
	margin-left: 10%;
    margin-right: 5%;
}

footer #rightcol {
    width: 30%;
    float: right;
	margin-right: 5%;
}

footer .container .paragraph_header_footer {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

footer .container .links {
    padding: 0px;
}

footer .container .links li {
    list-style: none;
    padding-left: 25px;
    margin-bottom: 15px;
    height: 16px;
}

footer .container .links li a {
    padding-left: 5px;
}


/*Footer Icons*/


footer .container .links .twitter_i {
    background: url('images/twitter_16.png') no-repeat;
}

footer .container .links .skype {
    background: url('images/skype_16.png') no-repeat;
}

footer .container .links .rss {
    background: url('images/rss.png') no-repeat;
}

footer .container .links .lastfm {
    background: url('images/lastfm_16.png') no-repeat;
}


/*I claim no right of ownership to the respective company logos and glyphs in each one of these icons.

Logos & Icons can be found at the following links: 
http://prothemedesign.com/circular-icons/ 
http://www.komodomedia.com/blog/2009/06/social-network-icon-pack/*/



/*Comments*/


.comments .commentlist {
    list-style: none;
}

.comments .commentlist .children {
    list-style: none;
}

#respond {
    margin: 10px;
}

#respond label {
    display: block;
    font-weight: bold;
}

#respond .form-allowed-tags {
    background-color: #E5E5E5;
    padding: 5px;
}

#respond .form-submit #submit {
    background-color: #ddf;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

#respond .form-submit #submit:hover {
    color: #d62200;
}

#respond .comment-form-author #author {
    width: 100%;
}

#respond .comment-form-email #email {
    width: 100%;
}

#respond .comment-form-url #url {
    width: 100%;
}

#respond .comment-form-comment #comment {
    width: 100%;
    height: 100%;
}
